<configuration>
  <dllmap os="!windows" dll="libglib-2.0-0.dll" target="libglib-2.0.so.0"/>
  <dllmap os="!windows" dll="libgobject-2.0-0.dll" target="libgobject-2.0.so.0"/>
  <dllmap os="!windows" dll="libgdk-win32-2.0-0.dll" target="libgdk-x11-2.0.so.0"/>
  <dllmap os="!windows" dll="libgdk_pixbuf-2.0-0.dll" target="libgdk_pixbuf-2.0.so.0"/>
</configuration>
